@use "../utilities" as *;

.header {
  &__branding {
    left: 50%;
    max-width: 130px;
    position: absolute;
    transform: translateX(-50%);
    top: 0px;

    img {
      width: 70px;
    }
  }
}