
@use "../utilities" as *;

.section {
  padding: 2rem 20px 2rem 20px;

  &--extra-padding {
    padding: 4rem 20px 5em 20px;
  }

  &--center {
    display: flex;
  }

  &--side-padding {
    padding: 0 20px;
  }
}
