@use "../utilities" as *;

.section {
  &__two-column {
    display: grid;
    grid-template-columns: 100%;
    position: relative;

    @media (min-width: 960px) {
      grid-template-columns: 1fr 50%;
      max-width: 1800px;
      margin: 0 auto;
    }
  }
}

.image__feature {
  grid-row: 1;
  height: 60vh;
  object-fit: cover;
  min-width: 100%;

  @media (min-width: 960px) {
    grid-column: 2;
    height: auto;
    left: 0;
    position: sticky;
    top: 0;
  }

  .section__two-column--reverse & {
    @media (min-width: 960px) {
      grid-column: 1;
    }
  }
}

.image__feature--model {
  grid-row: 2;
  padding: 0 10%;
  
  @media (min-width: 960px) {
    grid-row: 1;
    left: 0;
    padding: 4rem 15% 0 15%;
    position: sticky;
    top: 0;
  }
}
