.dialog {
  &__aside {
    animation: fade-in 1000ms both;
    background-color: rgba(103, 103, 103, 0.5);
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
  }
}