@use "../utilities" as *;

.footer {
  &__branding {
    @extend %flex-row--center;

    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin: 3rem 0;
    padding: 3rem 0;
    width: 100%;


    @media screen and (min-width: $breakpoint-medium) {
      border: none;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }    
  }
}