@use "../utilities" as *;

.footer {
  background-color: $color-black;
  color: #fff;
  padding: 3rem 10px;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 3rem;
  } 

  a {
    color: #fff;
  }

  &__inner {
    margin: 0 auto;
    max-width: $page-max-width;
  }
}