@use "../utilities" as *;

.section {
  &__two-column {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    gap: 2rem;
    max-width: 1800px;
    margin: 0 auto;



  }
}

.image__feature {
  position: sticky;
  top: 0;
  left: 0;
}

.image__feature--model {
  position: sticky;
  top: 140px;
  left: 0;
  padding: 0 4rem;

}