$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$color-black: #111111;
$color-accent-1: #fffefa;
$color-accent-1-rgb: 255, 254, 250;
$color-accent-2: #f0ecdd;
$color-accent-2-rgb: 240, 236, 221;
$default-gap: 1rem;
$page-max-width: 1600px;
