%main
  .section__two-column.color-accent-1
    .section--extra-padding.content__copy
      %h1.title About
      .block--left.content__copy
        %h2.subtitle Dr Mahsa and Dr Nejati
        .block--left
          %p Nejati clinic founders, Dr Mahsa (GDC No:83036) and Dr Brandon Nejati (GDC No:82664), have more than 20 years experience in holistic dentistry. Their mission is “Treating the Whole You” with the understanding that being unwell in one aspect affects you in others.
          %p With their unique formulations and revolutionary approach, you will step into a world where self care takes on a new dimension, where your oral ritual is elevated into an art form. Because true radiance starts with a healthy you.
          %details 
            %summary Manifesto
            .block--left
              %p We created MAHSA and the Nejati Clinic because we believed the mouth is a gateway for the rest of the body and oral health affects systemic health. That natural ingredients that mimics the nature are far better for your well-being than any other chemicals put together in an artificial way.
    = image_tag 'anti-aging.webp', class: 'image__feature'
  .color-accent-2
    .section--extra-padding
      %h1.title.center
        Our specialist referral team
      .section.section__two-column
        .block--left.content__copy
          %h2.subtitle 
            Periodontology
          %h3 Professor Ian Needleman 
          .block--left
            %details 
              %summary Biography
              .block--left
                %p BDS, MSc, PhD, MRDRCS, FDSRCS, FFPH, FHEA Specialist in Periodontics, GDC Number: 58592
                %p Ian Needleman joined the practice in 1987 following completion of his specialist clinical training in periodontics at Guy's Hospital. This was followed by posts in periodontology at the London Hospital Medical College and the UCL Eastman Dental Institute. He also holds the Fellowship in Dental Surgery, Membership in Restorative Dentistry and PhD. He was appointed Honorary Consultant to UCLH NHS Foundation Trust in 2007.
                %p Ian is a leader in the development of periodontology both nationally and internationally. He is also Professor of Periodontology and Evidence-Informed Healthcare at UCL Eastman Dental Institute where he is involved in the education and training of specialists and runs a clinical research programme looking at improving periodontal treatment outcomes.
                %p Ian is a very active provider of periodontology training for general dental practice and is engaged in initiatives to develop periodontal care with the British Society of Periodontology and the Department of Health.s
          %h3
            Dr. Georgios N. Antonoglou
          .block--left
            %details 
              %summary Biography
              .block--left
                %p DDS, MCLINDENT (PERIO & IMPS), PHD (PERIO)
                %p An accomplished Specialist Periodontist with over a decade of clinical, teaching and research experience. Adept in leading the end-to-end assessment and treatment of patients with a wide variety of complex conditions. Proficient in treatment planning and performing a broad range of procedures, including both surgical and non- surgical periodontic treatments and dental implant procedures. Adept in managing complex research activities and providing clear and effective tutoring at undergraduate and postgraduate levels. Dedicated, adaptable and personable with a proactive, analytical and results driven approach. Dr Georgios’ research has been published in more than 25 articles in prestigious international peer-reviewed journals in Periodontology and Dental Implantology and has received over 700 citations.
        .block--left.content__copy
          %h2.subtitle 
            Endodontics
          %h3 Dr Julian Webber
          .block--left
            %details 
              %summary Biography
              .block--left
                %p Ian Needleman joined the practice in 1987 following completion of his specialist clinical training in periodontics at Guy's Hospital. This was followed by posts in periodontology at the London Hospital Medical College and the UCL Eastman Dental Institute. He also holds the Fellowship in Dental Surgery, Membership in Restorative Dentistry and PhD. He was appointed Honorary Consultant to UCLH NHS Foundation Trust in 2007.
                %p Ian is a leader in the development of periodontology both nationally and internationally. He is also Professor of Periodontology and Evidence-Informed Healthcare at UCL Eastman Dental Institute where he is involved in the education and training of specialists and runs a clinical research programme looking at improving periodontal treatment outcomes.
                %p Ian is a very active provider of periodontology training for general dental practice and is engaged in initiatives to develop periodontal care with the British Society of Periodontology and the Department of Health.
                %p Specialist services: Periodontics
          %h3
            Dr Trevor Lamb
          .block--left
            %details 
              %summary Biography
              .block--left