%main
  .section__two-column.gap.color-accent-1
    .section--extra-padding.content__copy
      %h1.title Examination and diagnostics
      .col
        %h2.subtitle Routine examination
        .col
          %p During our routine examinations, the dental and soft tissues, including the head and neck muscles are carefully examined. The soft tissue is screened for oral cancer. If necessary digital intra-oral or panoral x-rays will be taken to examine the internal tissues.
          %p The primary objective of this examination is not solely to diagnose existing issues but also to proactively anticipate potential concerns, enabling the implementation of preventative care measures.
          %p Additionally, patients will undergo an evaluation of their gum health, serving as the foundation upon which personalized oral hygiene care will be recommended and administered.
    %img.image__feature{src: "images/clinic-photo3.jpg"}/
  .color-accent-2
    .section__two-column
      %img.image__feature--model{src: "images/model2.png"}/
      .section--extra-padding.col.content__copy
        .col
          %h2.subtitle 3-D Oral Scanning
          .col
            %p As new patients and prior to smile design, each patient can receive a full complementary 3-D digital oral scan.
            %details 
              %summary Benefits
              .col
                %p This cutting-edge technology, generates a three-dimensional digital representation of the mouth and dental structures. Through meticulous analysis, it unveils any imbalances, asymmetries, and disparities, making it an indispensable tool for precise treatment planning and smile design.
                %p Furthermore, this advanced scan serves as an immaculate record and study model of the patient’s current dental condition. It not only aids in the initial assessment but also becomes a cornerstone for ongoing monitoring, allowing us to track the progression of various dental conditions and wear over the years with unparalleled precision.
        .col
          %h2.subtitle 3-D Digital Impressions
          .col
            %p There is no need for uncomfortable dental impressions anymore. We only use digital scans, eliminating the need for traditional impressions. 