%main
  .section__two-column.color-accent-1
    .section--extra-padding.content__copy
      %h1.title Oral Hygiene treatment  wellbeing experience
      .block--left
        %h2.subtitle The Nejati Clinic-Guided Biofilm Therapy (GBT)
        .block--left
          %p At Nejati Clinic, we’ve redefined the dental experience with Guided Biofilm Therapy (GBT). Picture your typical cleaning session transforming into a spa-like wellness journey.
          %details 
            %summary Procedure
            .block--left
              %p GBT is a gentle, painless procedure that leaves your teeth untouched. It’s a modern approach, worlds apart from traditional dental hygiene. Our Swiss-made technology delicately employs ultra-fine salt and minerals, flushing them onto your tooth’s surface to cleanse its pores with a soft touch. This process effectively clears away biofilm, often a hiding place for harmful bacteria.
              %p As the finishing touch, we apply our own soothing, fragrant anti-inflammatory serum, activated by a medical-grade LED light. This is a part of our holistic oral detox and body cleansing process, making your visit with us truly exceptional.
    %img.image__feature{src: "images/well-being.webp"}/
  .color-accent-2.margin-top
    .section__two-column
      %img.image__feature--model.stick-to-bottom{src: "images/model3.png"}/
      .content__copy.section--extra-padding
        .block--left
          %h2.subtitle Fresh Breath treatment
          .block--left
            %p One of our signature treatments, a seamless blend of our celebrated Guided Biofilm Therapy and our exclusive tooth whitening procedure. This distinctive combination, featuring our signature whitening serum and antiseptic gum serum, effortlessly revitalizes your experience.
            %details 
              %summary Serum
              .block--left
                %p The serum effectively introduces oxygen into the pores and pockets eliminating the harmful bacteria that contribute to gum disease and bad breath.
                %p Not only does it leave your mouth feeling exquisitely fresh, but it also imparts a radiant whiteness to your teeth. The perfect duo for maintaining both fresh breath and a bright smile with ease.
        .block--left
          %h2.subtitle Routine hygienist care
          .block--left
            %p This can include the above and also traditional scaling and polishing, always with a soft touch.
            %p Part of both routine hygiene care and more advanced gum treatment.
        .block--left
          %h2.subtitle Tooth whitening
          .block--left
            %p Nejati Clinic is one of the premiere whitening treatment dental clinics in London. We only use the latest available formulation of whitening products including Zoom and MAHSA herbal based products.
            %details 
              %summary Details
              .block--left
                %p The process cleanses and cleans the dental tissue beneath the surface and lightens the discoloration of enamel and dentin, leaving the tooth healthy bright. 
                %p You may have seen Zoom whitening being used in shows like Extreme Makeover and America's next top model. 
                %p Experience the exceptional in-chair professional teeth whitening using Dr. Mahsa’s exclusive dental product line, MAHSA, available exclusively at Nejati Clinic. This advanced whitening treatment can effectively brighten teeth by up to 9 shades in a mere 60 minutes.
                %p The core of this treatment’s effectiveness lies in the synergy between the special-frequency MAHSA LED Light Activator and the MAHSA whitening serum. This gentle whitening serum is enriched with an herbal blend that possesses antibacterial and anti-inflammatory properties, which are further enhanced by the LED Light Activator, resulting in remarkable whitening.
                %p For an even more comprehensive whitening experience, consider combining this treatment with Guided Biofilm Therapy. This synergistic approach enhances both the whitening outcome and the deep cleansing of dental tissues, leaving you feeling rejuvenated and relaxed following your whitening procedure 