%main
  .section__two-column.gap.color-accent-1
    .section--extra-padding.content__copy
      %h1.title Signature Mahsa LED Teeth Whitening in Clinic Treatment
      .col
        %p MAHSA in chair whitens teeth by up to 8 shades in 60 minutes. The combined use of the LED Light Activator and MAHSA whitening serum is extremely effective. The gentle whitening serum requires the use of a LED Light Activator to enhance the whitening effects.
        %p The procedure will happen right at our clinic in the heart of Belgravia-London and will take about 60 minutes. We will cover up the lips and the gums leaving only the teeth exposed. The whitening serum is then applied, and is exposed to LED light. The serum is left in for 20minutes and the procedure is repeated 3 times. This process breaks down the carbon bonds that create stains on teeth. The process is relatively pain free and with almost zero sensitivity. We recommend to avoid dark food and drinks for 48h after the treatment.
        %p This procedure can be combined with MAHSA Trio Home whitening kit to enhance the smile and maintain the whitening for longer. It’s also a great treatment just before Micro-Layering procedure with Dr Brandon Nejati to cleanse and prepare the enamel.
    .row-1
      = image_tag 'tooth-whitening.webp', class: 'image__feature'