%main
  .section--extra-padding.section__centered.color-accent-2
    .section--extra-padding.content__copy
      %h2.title Thank you
      #container.col--center
        %p Your message has been sent. We will endeavour to get back to you as soon as possible.
