@use "../utilities" as *;

.nav {
  &__subnav {
    &-content {
      display: none;
      left: 0;
      margin-top: -1px;
      position: absolute;
      z-index: 1;
    }

    &:hover {
      .nav__subnav-caret {
        transform: rotate(180deg);
      }

      .nav__subnav-content {
        @extend %flex-column--center;

        animation:
          fade-in 400ms,
          slide-up 200ms;
        border-top: 1px solid #111;
        font-size: 0.75rem;
        gap: 0.1rem;
        padding: 0.5rem 10px;
        text-align: center;
        width: 100%;

        .nav__link {
          padding: 0.15rem;
        }
      }
    }
  }
}
