@use "../utilities" as *;

.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.color-accent-1 {
  background-color: $color-accent-1;
}

.color-accent-2 {
  background-color: $color-accent-2;
}

.button--square {
  border: 1px solid #111;
  display: block;
  font-size: 3rem;
  font-weight: 100;
  height: 30px;
  line-height: 30px;  
  text-align: center;
  width: 30px; 
}