@use "../utilities" as *;

.header {
  background-color: $color-accent-2;
  
  
  position: relative;
  width: 100%;

  .index & {
    z-index: 9;
    background-color: rgba($color-accent-2, 0.6);
  }

  &__inner {
    @extend %flex-row--start;

    
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 2000px;
    padding: 0 2rem;

  }
}